{% extends "base.html" %}
{% load get_color %}

{% block title %}{{ classes.0.0.first }} {{ classes.0.0.last }}{% endblock %}


{% block content %}


<h1>{{ classes.0.0.first }} {{ classes.0.0.last }}</h1>

    {% for class in classes %}
    <h3>{{ class.0.course }}</h3>
    <table class="table table-bordered" id="course_list">
    <thead>
    <tr>
        <th>Year</th>
        <th>Overall Score</th>
        <th>Accessible</th>
        <th>Enthusiastic</th>
        <th>Facilitates Discussion</th>
        <th>Gives Feedback</th>
        <th>Return Assignments</th>
    </tr>
    </thead>

    <tbody>
    {% for row in class %}
        <tr>
            <td>{{ row.course.term_text }} {{ row.course.year }}</td>
            <td style="background-color: {{ row.overall|get_color:"" }}">{{ row.overall }}</td>
            <td style="background-color: {{ row.accessible|get_color:"" }}">{{ row.accessible }}</td>
            <td style="background-color: {{ row.enthusiasm|get_color:"" }}">{{ row.enthusiasm }}</td>
            <td style="background-color: {{ row.discussion|get_color:"" }}">{{ row.discussion }}</td>
            <td style="background-color: {{ row.feedback|get_color:"" }}">{{ row.feedback }}</td>
            <td style="background-color: {{ row.returns_assignments|get_color:"" }}">{{ row.returns_assignments }}</td>
        </tr>
    {% endfor %}
    </tbody></table>
{% endfor %}
{% endblock %}
