{% extends "base.html" %}

{% block content %}

<table class="table" id="course_list">
<thead>
    <tr>
        <th>Course</th>
        <th>Term</th>
        <th>Overall Score</th>
    </tr>
</thead>
<tbody>
{% for course in course_list %}
    <tr>
        <td>{{ course.number }}</td>
        <td>{{ course.term }} {{ course.year }}</td>
        <td>{{ course.overall }}<div class="progress {{ course.style }}">
            <div class="bar" style="width: {{ course.percent }}%"></div>
        </div></td>
    </tr>
{% endfor %}
</tbody>
</table>

{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tablesorter.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function()
        {
            $("#course_list").tablesorter();
        });
    </script>
{% endblock %}