{% extends "base.html" %}
{% block title %}Harvard-Q{% endblock %}

{% block javascript %}
    <script src="{{ STATIC_URL }}js/typeahead.js"> </script>
{% endblock %}
{% block content %}
<div class="row-fluid">
    <div class="span4">
        <h3>Browse by department</h3>
    <div class="well" style="height: 300px;overflow: auto;">

        {% for field in fields %}
        <a href="{{ field.get_absolute_url }}" > {{ field }} </a> <br>
        {% endfor %}

    </div>
    </div>

    <div class="span4">
        <h3>Search</h3>
        <form class ="form-search typeahead" action="/courses/search/">
            <input type="text" class="input-large search-query typeahead search_box" name="q" placeholder="Number (cs50) or keyword"
                   value="">
            <input type=submit class="btn" value=Go>
        </form>
    </div>

    <div class="span4">

        <h3> Get top classes by</h3>
        <div class="well">
        <a href="/courses/top/?category=overall">Overall Score</a><br>
        <a href="/courses/top/?category=enrollment">Enrollment</a><br>
        <a href="/courses/top/?category=workload">Workload</a><br>
        <a href="/courses/top/?category=difficulty">Difficulty</a><br>
        <a href="/courses/top/?category=recommend">Recommended</a><br>
        </div>
    </div>

</div>
{% endblock %}

