{% extends "base.html" %}

{% block content %}

 {% block search %}
 {% endblock %}

{% block filters %}
{% endblock %}

{% block results %}
<div class="row-fluid">
<table class="table" id="course_list">
<thead>
    <tr>
        <th>Course</th>
        <th>Term</th>
        <th>Enrollment</th>
        <th>Professor</th>
        <th>Professor Overall</th>
        <th>Course Overall</th>
    </tr>
</thead>
<tbody>
{% for course in course_list %}

    <tr>
        <td> <a href="{{ course.get_absolute_url }}">{{ course }}</a></td>
        <td>{{ course.term_text }} {{ course.year }}</td>
        <td>{{ course.enrollment }}</td>

        <td>{% for prof in course.get_profs %}
            <a href="{{ prof.get_absolute_url }}">{{ prof }}</a> <br>
            {% endfor %}</td>


        <td>{% for prof in course.get_profs %}
            {{ prof.overall }} <br>
        {% endfor %}</td>

        <td>{{ course.overall }} </td>

     </td>
    </tr>
{% endfor %}
</tbody>
</table>

</div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tablesorter.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function()
        {
            $("#course_list").tablesorter();
        });
    </script>
{% endblock %}
{% endblock %}