{% extends "course_list.html" %}

{% block filters %}
<div class="row-fluid">
    <div class="span12">
    <form>

        <div class="span2">
            <h4>Filter By:</h4>
            <select id="category" name="category">
                <option id="category-overall" value="overall">Overall Score</option>
                <option id="category-enrollment"value="enrollment">Enrollment</option>
                <option id="category-workload" value="workload">Workload</option>
                <option id="category-difficulty" value="difficulty">Difficulty</option>
            </select>
        </div>
        <div class="span2">
            <h4>Minimum Enrollment:</h4>
            <select id="enrollment" name="enrollment">
                <option id="enrollment-0" value="0">0</option>
                <option id="enrollment-5" value="5">5</option>
                <option id="enrollment-10" value="10">10</option>
                <option id="enrollment-20" value="20">20</option>
                <option id="enrollment-50" value="50">50</option>
                <option id="enrollment-100" value="100">100</option>
                <option id="enrollment-200" value="200">200</option>
            </select>
        </div>

        <div class="span2">
            <h4>Year:</h4>
            <select id="year" name="year">
                <option id="year-all"value="all">All</option>
                <option id="year-2011"value="2011">2011</option>
                <option id="year-2010"value="2010">2010</option>
                <option id="year-2009"value="2009">2009</option>
                <option id="year-2008"value="2008">2008</option>
                <option id="year-2007"value="2007">2007</option>
                <option id="year-2006" value="2006" >2006</option>
            </select>
        </div>

        <div class="span1">
            <h4>Term:</h4>
            <label class="radio">
            <input type="radio" name="term" id="term-both" value="both" checked>
                Both
            </label>
            <label class="radio">
            <input type="radio" name="term" id="term-fall" value="fall">
                Fall
            </label>
            <label class="radio">
            <input type="radio" name="term" id="term-spring" value="spring">
                Spring
            </label>
        </div>


        <div class="span2">
            <h4>Sorting:</h4>
            <label class="radio">
                <input type="radio" name="reverse" id="reverse-false" value="false" checked>
                Largest values first
                </label>
            <label class="radio">
                <input type="radio" name="reverse" id="reverse-true" value="true">
                Smallest values first
            </label>
        </div>
        <br><br>
        <button type="submit" class="btn btn-large">Go!</button>
    </form>
    </div>

</div>
{% endblock %}


{% block javascript %}

    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tablesorter.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function()
        {
            setDefaults();
            $("#course_list").tablesorter();

        });

        function setDefaults()
        {
            // get associative array with get data
            var $_GET = getQueryParams(document.location.search);

            //set the default values of each input to the value present in GET
            if($_GET["category"]){
                var category = "#category-"+$_GET["category"];
                $(category).attr("selected", "true");}
            if($_GET["enrollment"]){
                var enrollment = "#enrollment-"+$_GET["enrollment"];
                $(enrollment).attr("selected", "true");
            }
            if($_GET["year"]){
                var year = "#year-"+$_GET["year"];
                $(year).attr("selected", "true");
            }
            else{
                $("#year-2011").attr("selected", "true");
            }
            if($_GET["term"]){
                var term = "#term-"+$_GET["term"];
                $(term).attr("checked", true);
            }
            if($_GET["reverse"]){
                var reverse = "#reverse-"+$_GET["reverse"];
                $(reverse).attr("checked", true);
            }
        }

        //credit to Ates Goral at http://stackoverflow.com/questions/439463/how-to-get-get-and-post-variables-with-jquery
        //for this function
        function getQueryParams(qs) {
            qs = qs.split("+").join(" ");
            var params = {},
                    tokens,
                    re = /[?&]?([^=]+)=([^&]*)/g;

            while (tokens = re.exec(qs)) {
                params[decodeURIComponent(tokens[1])]
                        = decodeURIComponent(tokens[2]);
            }

            return params;
        }
    </script>
{% endblock %}