{% extends "base.html" %}
{% load get_color %}

{% block title %}{{ selected_course.field }} {{ selected_course.number }}{% endblock %}

{% block head %}
<script src="{{ STATIC_URL }}js/courses.js"> </script>
<link href="{{ STATIC_URL }}css/courses.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div id="wrapper">
	<h2 id="course-title"><span id="field">{{ selected_course.field }}</span> <span id="number">{{ selected_course.number }}</span>: <span id="title">{{ selected_course.title }}</span> (<span id="term">{{ selected_course.term_text }}</span> <span id="year">{{ selected_course.year }}</span>)</h2>
	<div id="additional-info">{{ selected_course.get_profs.0 }}</div>

	<div id="course-info-container">
		<div id="scores">
			<div id="overall" class="score left">{{ selected_course.overall }}</div>
			<div id="difficulty" class="score middle">{{ selected_course.difficulty }}</div>
			<div id="work" class="score right">{{ selected_course.workload }}</div>
			<div id="profs" class="score prof">{{ selected_course.get_profs.0.overall }}</div>
		</div>
		<div id="tabs">
			<div id="comments-tab" class="tab left">Comments</div>
			<div id="more-info-tab" class="tab middle">More Info</div>
			<div id="history-tab" class="tab right">Course History</div>
			<div id="prof-detail-tab" class="tab prof">Instructor Details</div>
		</div>

		<div id="comments-content" class="content">
			<h3>Comments:</h3>
			<div id="comments"> </div>
			<!-- Icons provided by http://glyphicons.com/ -->
			<br/>
			<div class="centered">
				<a href="#comments" id="left_arrow">
					<i class="icon-chevron-left"></i>
				</a> <input id="current_page" type="text" class="input-mini centered" value="1"/> of <span id="num_pages">{{ num_pages }}</span> <a id="right_arrow" href="#comments"><i class="icon-chevron-right"></i></a>
			</div>
		</div>

		<div id="more-info-content" style="display:none" class="content">
			asonetuhasnotuhasnoteuhaosntoeuh
		</div>

		<div id="history-content" style="display:none" class="content">
			asnteuhasnteuhasnteuhasntoeuhasntoeuhsanotuhasnoteuhasntoehusnatoehu
		</div>

		<div id="prof-detail-content" style="display:none" class="content">
			asnetouhasnetouhasontuhasnoteuhasntoeuha
		</div>
	</div>
</div>



{% endblock %}




















