{% extends "base.html" %}
{% load get_color %}

{% block title %}{{ selected_course.field }} {{ selected_course.number }}{% endblock %}

{% block head %}
<link href="{{ STATIC_URL }}css/courses.css" rel="stylesheet">
<script src="{{ STATIC_URL }}js/courses.js"> </script>
{% endblock %}

{% block content %}


<h1><span id="field">{{ selected_course.field }}</span> <span id="number">{{ selected_course.number }}</span>: {{ selected_course.title }} (<span id="term">{{ selected_course.term_text }}</span> <span id="year">{{ selected_course.year }}</span>)</h1>
<p id="basic_stats">{{ selected_course.enrollment }} students, {{ selected_course.evaluations }} responses (response rate: {{ selected_course.response_rate }}%)</p>
<p>{{ selected_course.get_profs.0.first }} {{ selected_course.get_profs.0.last }}</p>

<div class="row">
	<div class="span2 score-box course">
		<div class="score">{{ selected_course.overall }}</div>
		<div class="title">overall</div>
	</div>

	<div class="span2 score-box course">
		<div class="score">{{ selected_course.difficulty }}</div>
		<div class="title">difficulty</div>
	</div>

	<div class="span2 score-box course">
		<div class="score">{{ selected_course.workload }}</div>
		<div class="title">workload</div>
	</div>
	<div class="span2 score-box course">
		<div class="score">{{ selected_course.recommend }}</div>
		<div class="title">recommendation</div>
	</div>

	<a class = "hiddenlink" href = "{{ selected_course.get_profs.0.get_absolute_url }}">
		<div class="span4 score-box prof">
			<div class="score">{{ selected_course.get_profs.0.overall }}</div>
			<div class="title">{{ selected_course.get_profs.0.last }}</div>
		</div>
	</a>
</div>

<!-- sorry about inline style; it's late -->
<div class="row" style="margin-left: -20px">
	<div class="span8 course info">
		<p class = "text">
			{{ selected_course.description }}
		</p>
		<div class="row">
			<div class="span3 course bar offset1">
				<!-- width: selected_course.assignments / 5.0 * 100% -->
				<span style="width: {% widthratio selected_course.assignments 5.0 100 %}%">assignments: {{ selected_course.assignments }}</span>
			</div>			
			<div class="span3 course bar">
				<span style="width: {% widthratio selected_course.feedback 5.0 100 %}%">feedback: {{ selected_course.feedback }}</span>
			</div>
		</div>
		<div class="row">
			<div class="span3 course bar offset1">
				<span style="width: {% widthratio selected_course.section 5.0 100 %}%">section: {{ selected_course.section }}</span>
			</div>

			<div class="span3 course bar">
				<span style="width: {% widthratio selected_course.materials 5.0 100 %}%">materials: {{ selected_course.materials }}</span>
			</div>
		</div>
		
		<div class="row">
			<div class="span4 offset2">
				<p id="seemore"><a class="hiddenlink" href="#" onClick="_gaq.push(['_trackEvent', 'Course Page', 'See More', {{ course.0.course_id }}])">See previous years</a></p>
			</div>
		</div> &nbsp;		
	</div>

	<div class="span4 prof info" style="margin-left: 10px">
		<div class="prof row">
			<div class="span3 course bar">
				<span style="width: {% widthratio selected_course.get_profs.0.lectures 5.0 100 %}%">lectures: {{ selected_course.get_profs.0.lectures }}</span>
			</div>
		</div>
		<div class="prof row">
			<div class="span3 course bar">
				<span style="width: {% widthratio selected_course.get_profs.0.accessible 5.0 100 %}%">accessibility: {{ selected_course.get_profs.0.accessible }}</span>
			</div>
		</div>
		<div class="prof row">
			<div class="span3 course bar">
				<span style="width: {% widthratio selected_course.get_profs.0.enthusiasm 5.0 100 %}%">enthusiasm: {{ selected_course.get_profs.0.enthusiasm }}</span>
			</div>
		</div>
		<div class="prof row">
			<div class="span3 course bar">
				<span style="width: {% widthratio selected_course.get_profs.0.discussion 5.0 100 %}%">discussion: {{ selected_course.get_profs.0.discussion }}</span>
			</div>
		</div>
		<div class="prof row">
			<div class="span3 course bar">
				<span style="width: {% widthratio selected_course.get_profs.0.feedback 5.0 100 %}%">feedback: {{ selected_course.get_profs.0.feedback }}</span>
			</div>
		</div>
	</div>
</div>

<div class="span8" id="table" style="display: none">
	<table class="table table-bordered" id="course_list">
	    <thead>
		    <tr>
		        <th>Term</th>
		        <th>Professor</th>
		        <th>Professor Rating</th>
		        <th>Enrollment</th>
		        <th>Response Rate</th>
		        <th>Overall Score</th>
		        <th>Workload</th>
		        <th>Difficulty</th>
		        <th>Class Materials</th>
		        <th>Assignment Quality</th>
		        <th>Section</th>
		        <th>Feedback given</th>
		        <th>Recommended</th>
		    </tr>
	    </thead>
	    <tbody>
			{% for course in courses %}
		    <tr>
		        <td><a href="{{ course.get_absolute_url }}">{{ course.term_text }} {{ course.year }}</a</td>
		        <td>{% for prof in course.get_profs %} <a href="{{ prof.get_absolute_url }}">{{ prof }}</a><br> {% endfor %}</td>
		        <td>{% for prof in course.get_profs %} {{ prof.overall }} <br> {% endfor %}</td>
		        <td>{{ course.enrollment }}</td>
		        <td>{{ course.response_rate }}</td>
		        <td style="background-color: {{ course.overall|get_color:"" }}">{{ course.overall }}</td>
		        <td style="background-color: {{ course.workload|get_color:"true" }}">{{ course.workload }}</td>
		        <td style="background-color: {{ course.difficulty|get_color:"true" }}">{{ course.difficulty }}</td>
		        <td style="background-color: {{ course.materials|get_color:"" }}">{{ course.materials }}</td>
		        <td style="background-color: {{ course.assignments|get_color:"" }}">{{ course.assignments }}</td>
		        <td style="background-color: {{ course.section|get_color:"" }}">{{ course.section }}</td>
		        <td style="background-color: {{ course.feedback|get_color:"" }}">{{ course.feedback }}</td>
		        <td style="background-color: {{ course.recommend|get_color:"" }}">{{ course.recommend }}</td>
		    </tr>
			{% endfor %}
		</tbody>
	</table>
</div>

<div class="row">
	<div class="span12" id="comment_box">
		<h3>Comments:</h3>
		<div id="comments"> </div>
		<!-- Icons provided by http://glyphicons.com/ -->
		<br/>
		<div class="centered">
			<a href="#comments" id="left_arrow">
				<i class="icon-chevron-left"></i>
			</a> <input id="current_page" type="text" class="input-mini centered" value="1"/> of <span id="num_pages">{{ num_pages }}</span> <a id="right_arrow" href="#comments"><i class="icon-chevron-right"></i></a>
		</div>
	</div>
</div>

{% endblock %}




















