{% extends "base.html" %}

{% load get_color %}
{% block content %}

<div class="row-fluid">

<h1>{{ courses.0 }}</h1>
<div class="span8">
<h5>{{ courses.0.description }}</h5>
</div>
<table class="table table-bordered" id="course_list">
    <thead>
    <tr>
        <th>Term</th>
        <th>Professor</th>
        <th>Professor Rating</th>
        <th>Enrollment</th>
        <th>Response Rate</th>
        <th>Overall Score</th>
        <th>Workload</th>
        <th>Difficulty</th>
        <th>Class Materials</th>
        <th>Assignments</th>
        <th>Section</th>
        <th>Feedback given</th>
        <th>Recommended</th>
    </tr>
    </thead>
    <tbody>
{% for course in courses %}
    <tr>
        <td>{{ course.term_text }} {{ course.year }}</td>
        <td>{% for prof in course.get_profs %}
            {{ prof }}<br>
        {% endfor %}</td>
        <td>{% for prof in course.get_profs %}
            {{ prof.overall }} <br>
        {% endfor %}</td>
        <td>{{ course.enrollment }}</td>
        <td>{{ course.response_rate }}</td>
        <td style="background-color: {{ course.overall|get_color:"" }}">{{ course.overall }}</td>
        <td style="background-color: {{ course.workload|get_color:"true" }}">{{ course.workload }}</td>
        <td style="background-color: {{ course.difficulty|get_color:"true" }}">{{ course.difficulty }}</td>
        <td style="background-color: {{ course.materials|get_color:"" }}">{{ course.materials }}</td>
        <td style="background-color: {{ course.assignments|get_color:"" }}">{{ course.assignments }}</td>
        <td style="background-color: {{ course.section|get_color:"" }}">{{ course.section }}</td>
        <td style="background-color: {{ course.feedback|get_color:"" }}">{{ course.feedback }}</td>
        <td style="background-color: {{ course.recommend|get_color:"" }}">{{ course.recommend }}</td>

    </tr>
{% endfor %}
    </tbody></table>


</div>

{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tablesorter.min.js"></script>
    <script type="text/javascript">

        //begins with function by RobKohr on StackOverflow
        function begins_with (needle, haystack){
            return (haystack.substr(0, needle.length) == needle);
        }

        function highlightTable()
        {
            var colors = ["#67001f","#B2182B","#D6604D","#F4A582","#FDDBC7","#D1E5F0","#92C5DE","#4393C3","#2166AC","#053061"];
            var colors2 = ["#A50026","#D73027","#F46D43","#FDAE61","#FEE08B","#D9EF8B","#A6D96A","#66BD63","#1A9850","006837"];
            $("#course_list td").each(function(){ //loop through all rows of course list
               if (!(isNaN($(this).html()))){

                   var color;


                   //inverse colors for difficulty and workload
{#                   if(begins_with("difficulty", $(this).attr("id") || begins_with("workload",$(this).attr("id")) ){#}
{#                       var threshold = 5;#}
{#                       var change_by = -.5#}
{#                   }#}
{#                        #}



                   var threshold = 2.5;

                   for (var i = 0; i <colors.length; i++){
                       if (parseFloat($(this).html()) < threshold){
                            color = colors[i];
                            break;
                       }
                       threshold += .334
                   }
                   $(this).css("background-color",color);
               }

            })

        }
        $(document).ready(function()
        {
            //highlightTable();
            $("#course_list").tablesorter();
        });
    </script>
{% endblock %}