{% extends "base.html" %}
{% block head %}

    <link href="{{ STATIC_URL }}nvd3/src/nv.d3.css" rel="stylesheet" type="text/css">

{% endblock %}

{% block content %}
    <style>

        #chart svg {
            height: 800px;
        }

    </style>


    <div id="chart">
        <svg></svg>
    </div>

{% endblock %}


{% block javascript %}
    <script src="{{ STATIC_URL }}nvd3/lib/d3.v2.js"></script>
    <script src="{{ STATIC_URL }}nvd3/nv.d3.min.js"></script>
    <!-- <script src="{{ STATIC_URL }}nvd3/src/tooltip.js"></script> -->
    <!-- <script src="{{ STATIC_URL }}nvd3/src/utils.js"></script> -->
    <!-- <script src="{{ STATIC_URL }}nvd3/src/models/legend.js"></script> -->
    <!-- <script src="{{ STATIC_URL }}nvd3/src/models/axis.js"></script> -->
    <!-- <script src="{{ STATIC_URL }}nvd3/src/models/scatter.js"></script> -->
    <!-- <script src="{{ STATIC_URL }}nvd3/src/models/line.js"></script> -->
    <script src="{{ STATIC_URL }}nvd3/src/models/lineChart.js"></script>
<script>


    function getData (){
        {% autoescape off %}
        return {{ data }};
    {% endautoescape  %}
    }

    nv.addGraph(function() {
    var chart = nv.models.scatterChart()
    .showDistX(true)
    .showDistY(true)
    .color(d3.scale.category10().range());

    chart.xAxis.tickFormat(d3.format('.02f'));
    chart.yAxis.tickFormat(d3.format('.02f'));

    d3.select('#chart svg')
    .datum(getData)
    .transition().duration(500)
    .call(chart);

    nv.utils.windowResize(chart.update);

    return chart;
    });


</script>

{% endblock %}