#title_spacer
{
	margin: 0px;
	width: 1%;
}

#course-title
{
	margin: 0px;
	margin-top: 20px;
}

#additional-info h4
{
	margin-top: 0px;
	margin-left: 10px;
}

/*
.row-fluid .right
{
	margin-left: 0px;
	padding-left: 2.564102564%;
}

.row-fluid .left, 
{
	margin-right: 0px;
	margin-left: 2.564102564%;
}*/

#course-info-container
{
/*	position: absolute;
	border-style: solid;
	border-color: #000;
*/	
	border-width: 3px;
	/*left: 20px;*/
	/*margin-right: 30px;*/
/*	width: 1100px;
	height: 600px;
*/
	-webkit-border-radius: 4px;
}

#labels, #scores, #divider, #tabs, #content-row .content
{
	/*margin-left: 50px;*/
	/*margin-right: 50px;*/
}

#scores
{
	margin-top: 30px;
/*	box-shadow: 0 3px 4px -4px rgba(0, 0, 0, 0.7), inset 0 1px rgba(255, 255, 255, 0.34);
*/	
	/*border-bottom: solid 1px rgba(168, 168, 168, 0.5);*/
/*	height: 100px;
*/	
	 /*, inset 0 1px rgba(255, 255, 255, 0.34)*/
}

#scores .score
{
/*	position: absolute;
	width: 275px;
*/	
	/*border-bottom: solid 1px rgba(168, 168, 168, 0.5);*/

	/*height: 100px;*/
	line-height: 50px;
	text-align: center;
	font-size: 50pt;
	font-weight: bold;
	margin: 0px;
	width: 25%;

	border-right: solid 1px rgba(168, 168, 168, .5);
}

#scores .left
{
	border-left: solid 1px rgba(168, 168, 168, .5);
}

/*.middle
{

}

.right
{

}

.prof
{

}*/

#labels
{
/*	position: absolute;
	top: 101px;
	height: 30px;
*/	
/*	position: relative;
	top: 1px;
*/
/*	position: relative;
	top: -10px;*/
  	/*border-bottom: solid 1px rgba(168, 168, 168, 0.5);*/
  	padding-bottom: 3px;
	/*border-top: solid 1px rgba(0, 0, 0, 0.5);*/

}

#labels .score-label
{
/*	position: absolute;
	width: 275px;
	border-top: solid 1px rgba(168, 168, 168, 0.5);
*/	
	/*padding: 0px;*/
	/*border-bottom: solid 1px rgba(0, 0, 0, 0.5);
	border-top: solid 1px rgba(0, 0, 0, 0.5);*/

	line-height: 30px;
	text-align: center;
	font-weight:bold;
	margin-bottom: 0px;
  	/*border-bottom: solid 1px rgba(168, 168, 168, 0.5);*/

	/*cursor: pointer;*/
}

#scores_label_container
{
	box-shadow: 0px 2px 4px -2px #BBB;
	/*border-top: solid 1px rgba(168, 168, 168, .5);*/
	
}

#secondary_scores
{
	/*position: relative;*/
	/*top: 35px;*/
}

#secondary_scores .secondary-score
{
/*	position: absolute;
	width: 275px;
*/	
	/*border-bottom: solid 1px rgba(168, 168, 168, 0.5);*/

	/*height: 100px;*/

	line-height: 40px;
	text-align: center;
	font-size: 40pt;
	font-weight: bold;
}

#secondary_scores .secondary-score.push_down
{
/*	position: absolute;
	width: 275px;
*/	
	/*border-bottom: solid 1px rgba(168, 168, 168, 0.5);*/

	/*height: 100px;*/

	/*margin-top: 35px;*/
}


#secondary_scores .secondary-score-label
{
/*	position: absolute;
	width: 275px;
	border-top: solid 1px rgba(168, 168, 168, 0.5);
*/	
	/*padding: 0px;*/
	/*border-bottom: solid 1px rgba(0, 0, 0, 0.5);
	border-top: solid 1px rgba(0, 0, 0, 0.5);*/

	line-height: 25px;
	text-align: center;
	font-weight:bold;
	margin-bottom: 0px;
	margin-top: 0px;

  	/*border-bottom: solid 1px rgba(168, 168, 168, 0.5);*/

	/*cursor: pointer;*/
}

#divider
{
/*	position: relative;
	top: -10px;*/
	height: 10px;

	background-image: url('img/wood.gif');
	border-top: solid 1px rgba(0, 0, 0, 0.5);
	border-bottom: solid 1px rgba(0, 0, 0, 0.5);
}

#divider .filler
{
	/*background-image: url('wood.png');*/
	/*height: 10px;*/
/*	border-top: solid 1px rgba(0, 0, 0, 0.5);
	border-bottom: solid 1px rgba(168, 168, 168, 0.5);
*/}

#tabs
{
	padding-top: 14px;
	/*position: relative;
	top: -10px;*/
	/*border-bottom: solid 1px rgba(0, 0, 0, 0.5);*/
	/*border-top: solid 1px rgba(0, 0, 0, 0.5);*/
}

#tabs .tab
{

	
/*	padding: 0px;
	width: 25%;
	margin: 0px;

	background: -webkit-linear-gradient(top, white, #F0F0F0);

	line-height: 30px;
	text-align: center;
	font-weight:bold;

	cursor: pointer;

	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4), 0 0 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4), 0 0 1px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4), 0 0 1px rgba(0, 0, 0, 0.2);

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;


	margin: 0px;
	padding-left: 1.282051282%;
	padding-right: 1.282051282%;


	border-bottom: solid 1px rgba(0, 0, 0, 0.5);
	border-top: solid 1px rgba(0, 0, 0, 0.5);

*/}

#tabs .btn-tab
{
	margin: 0px;
	width: 25%;
}

#tabs .left
{
	border-right: solid 1px rgba(168, 168, 168, 0.5);
}

#tabs .middle
{
	border-left: solid 1px rgba(0, 0, 0, 0.5);
	border-right: solid 1px rgba(168, 168, 168, 0.5);
}

#tabs .right
{
	border-left: solid 1px rgba(0, 0, 0, 0.5);
}

.half-border
{
	width:0px;
	border-left: 1px solid #000;
}

.content
{
/*	position: absolute;
	top: 133px;
*/	
	/*position: relative;
	top: -10px;*/
	padding: 20px;
	padding-top: 10px;
	height: 600px;
	overflow: scroll;
}

#details-content h4
{
	margin-bottom: 5px;
	margin-top: 5px;
}

#gened
{
	margin-left: 20px;
}

.content h3
{
	line-height: normal;
	margin-top: 0px;
}

#wrapper .raised
{
	background-color: #FEFEFE;
    padding: 15px 15px;
    display: block;
    box-shadow: 0px 1px 2px #BBB;
    -webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
}

/*#wrapper .raised.chart
{
	height: 300px;
}*/

#wrapper .raised.addmargin
{
	padding-top: 10px;
	padding-bottom: 5px;
	margin-top: 20px;
	margin-bottom: 20px;
}

/* Chart CSS */
#prof-chart .tick:not(.zero)
    {
        opacity: 0;
    }

#prof-history-chart .nv-lineChart circle.nv-point, #history .nv-lineChart circle.nv-point, #enrollment-chart .nv-lineChart circle.nv-point
{
    fill-opacity: 1;
}

