#course-title
{
	margin: 0px;
}

#course-info-container
{
	position: absolute;
	border-style: solid;
	border-color: #000;
	border-width: 3px;
	left: 20px;
	margin-right: 30px;
	width: 900px;
}

.score
{
	position: absolute;
	background-color: #FFFFF0;
	width: 223px;
	border-style: solid;
	padding: 0px;
	border-width: 1px;
	height: 100px;
	text-align: center;
	font-size: 50pt;
	font-weight: bold;
	vertical-align: bottom;
}

.score.middle
{
	left: 225px;
}

.score.right
{
	left: 450px;
}

.score.prof
{
	left: 675px;
}