 #details{
    margin-top: 10px;
    width: 85%;
    height: 85%;
}
#enrollment{
    width: 70%;
    height: 70%;
    margin-top: 10px;
}
#email{
    height: 35px;
    width: 30%;
    margin-top: 15px;
    line-height: 25px;
    font-size: 20px;
}
#submit-button{
    margin-top: 15px;
    height: 40px;"
}

.screenshot{
    box-shadow: 0px 1px 3px #BBB;
    border-radius: 2px;
}
.centered
{
    text-align: center;
}

.grey
{
    background-color: #f5f5f5;
    padding-bottom: 30px;
    padding-top: 30px;

    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;

    box-shadow: 0px 1px 3px #666;
    -webkit-box-shadow: 0px 1px 3px #666;
    border-radius: 2px;

    margin-bottom: 60px;

    text-shadow:  0px 2px 3px white;
}

.crimson
{
    color: #A51C30;
}

body
{
    background-color: #A51C30;
    /*background-color: #f4f4f4;*/
}

.input-huge
{
    font-size: 20px;
    line-height: 25px;
}
